<section class="recipe-detail-section-3" style="background-image: url('../../../assets/img/recipe-detail/BG-howtomake.jpg')">
    
    <div class="lists-container q-container">
        <h2 class="houschka-light">How to Make</h2>
        <ul>
            <li><div class="font-md"><p class="houschka-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porta mollis vehicula. Nam nec elit nec lectus auctor vulputate.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porta mollis vehicula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porta mollis vehicula.</p></div></li>
            <li><div class="font-md"><p class="houschka-light">Mauris vitae commodo ex. Cras at urna egestas lorem posuere mollis vitae at justo. Vestibulum sagittis efficitur nisl a commodo.</p></div></li>
            <li><div class="font-md"><p class="houschka-light">Phasellus ac lacinia nibh. Integer eget posuere erat, eget tempor dolor.</p></div></li>
            <li><div class="font-md"><p class="houschka-light">In interdum eros elit, eu tristique sapien molestie non. Mauris nec ex magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam eleifend, ipsum at aliquet pellentesque, mi orci cursus risus.</p></div></li>
            <li><div class="font-md"><p class="houschka-light">libero erat dignissim urna, eget bibendum mauris enim at tellus. Proin finibus libero ut libero dictum tincidunt. Nullam in accumsan quam.</p></div></li>
        </ul>
        <div class="chief-container">
            <div class="profile-container">
                <h4 class="houschka-light" style="padding-left: 20px">CHIEF</h4>
                <div class="img-container">

                </div>
                <div class="wrapper">
                    <img src="../assets/img/recipe-detail/avatar.png" />
                    <div class="text-container">
                        <h4 class="font-md houschka-light">Michelle Banks</h4>
                        <p class="houschka-light">MBA, an adherent of a healthy lifestyle, is actively interested in and applies the approaches of functional medicine in practice, is keen on yoga, jogging, spirituality, and personal growth.</p>
                    </div>
                </div>
                
            </div>
            <div class="btn-container houschka-light">
                VIEW PROFILE
            </div>
        </div>
    </div>

    
    <h2 class="houschka-light light" style="margin-left: 15%; margin-top: 100px; margin-bottom: 80px; color: white;">Related Recipes</h2>

    <div class="suggested-recipe-cards-container q-container">
        <div class="suggested-recipe-card">
            <div class="inner" style="background-image: url('../../../assets/img/recipe-detail/recipes/strawberry.png')">
                <div class="white-brush" style="background-image: url('../../../assets/img/recipe-detail/recipes/white-box-1.png')">
                    <h2 class="amatic font-xxx-md">STRAWBERRY COOKIES</h2>
                    <p class="opensans-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu dapibus mauris.</p>
                </div>
            </div>
        </div>
        <div class="suggested-recipe-card">
            <div class="inner" style="background-image: url('../../../assets/img/recipe-detail/recipes/tropical-salad.png')">
                <div class="white-brush" style="background-image: url('../../../assets/img/recipe-detail/recipes/white-box-2.png')">
                    <h2 class="amatic font-xxx-md">TROPICAL SALAD</h2>
                    <p class="opensans-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu dapibus mauris.</p>
                </div>
            </div>
        </div>
        <div class="suggested-recipe-card">
            <div class="inner" style="background-image: url('../../../assets/img/recipe-detail/recipes/avocado.png')">
                <div class="white-brush" style="background-image: url('../../../assets/img/recipe-detail/recipes/white-box-3.png')">
                    <h2 class="amatic font-xxx-md">AVOCADO</h2>
                    <p class="opensans-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu dapibus mauris.</p>
                </div>
                </div>
            </div>
        </div>
    </div>
    
</section>