@import "../../lib/_mixins";

.jtf-section-1{
    width: 100%;
    @include bg-img(cover, no-repeat, center);
    padding-top: 100px;

    h1{
        color: #494846;
        font-weight: 200;
        padding-left: 120px;
        margin: 0;
        margin-bottom: 80px;
    }

    .menu-wrapper{
        @include flex-init();
        @include flex-direction(row);
        @include flex-wrap();
        @include justify-content(center);

        .menu{
            width: 50%;
            padding-left: 120px;
            padding-bottom: 50px;
            margin-bottom: 100px;
            

            &:nth-child(even){
                border-left: 1px #414972 solid;
            }

            .brush-title{
                z-index: 0;
                position: relative;
                color:white;
                font-size: 65px;
                font-weight: 200; 
                margin-top: 0;
                
                &:after{
                    z-index: -1;
                    position: absolute;
                    left: -15%;
                    /* @include transform(translateX(-50%)); */
                    top: -35%;
                    content: '';
                    background-image: url('../img/join-the-flow/bitmap.png');
                    @include bg-img(contain, no-repeat, center);
                    display: inline-block;
                    width: 400px;
                    height: 200px;
                }
            }

            p{
                margin-bottom: 50px;
                max-width: 350px;
                margin-top: 50px;
                color: #414972;
                line-height: 1.5;
            }

            .btn-sign-in{
                border: 1px black solid;
                padding: 10px 20px 10px 20px;
                display: inline-block;
            }
        }
    }


    @media only screen and (max-width: 320px){
        .content-container{
            padding: 0;

            h1{
                padding-left: 30px;
            }

            .menu-wrapper{
                padding: 0;
                @include flex-direction(column);

                .menu{
                    width: 100%;
                    padding-left: 30px;
                    padding-right: 20px;
                    margin-bottom: 20px;

                    &:nth-child(even){
                        border-left: none;
                    }

                    h2{
                        font-size: 50px;

                        &:after{
                            width: 300px;
                            left: -20px;
                            top: -40px;
                        }
                    }
                }
            }
        }
    }
}