@import "../../lib/_mixins";

.news-section-1{
    width: 100%;
    @include bg-img(cover, no-repeat, bottom);
    padding-bottom: 100px;

    .content-container{
        height: 100%;
        @include flex-init();
        @include flex-direction(row);
        padding-top: 150px;
        padding-bottom: 100px;
        padding: 150px 150px 100px 150px;

        .text-container{
            width: 50%;

            h1{
                font-size: 100px;
                font-weight: 200;
                margin: 0;
                color: #4A4A4A;
            }

            p{
                max-width: 400px;
                line-height: 1.5;
            }
        }   

    
    }

    .big-news-container{
        position: relative;
        padding: 0 20px;
        margin-bottom: 150px;

        .img-container{
            width: 800px;
            height: 400px;
            @include bg-img(cover, no-repeat, center);
            background-image: url('../img/news/big-news.png');
            border-radius: 5px;
        }

        .text-container{
            position: absolute;
            right: 0;
            top: 50%;
            @include transform(translateY(-50%));
            padding-right: 20%;

            h2{
                font-weight: 200;
                margin: 0;
                margin-top: 20px;
                color: #4A4A4A;
            }

            p{
                max-width: 300px;
                margin: 0;
            }
        }
    }

    .news-cards-container{
        
        display: none;

        &.active{
            @include flex-init();
            @include flex-direction(row);
            @include flex-wrap();
        }

        .card{
            width: 33.33333333%;
            height: 500px;
            padding: 0 10px;

            margin-bottom: 50px;
            
            .inner{
                width: 100%;
                height: 100%;
                border-radius: 8px;
                overflow: hidden;
                @include trans(all .25s ease);
                cursor: pointer;

                &:hover{
                    @include soft-box-shadow();
                    @include transform(scale(1.025));
                    .text-container{
                        background: white;
                    }
                }

                .img-container{
                    width: 100%;
                    height: 50%;
                    @include bg-img(cover, no-repeat, center);
                }

                .text-container{
                    width: 100%;
                    height: 50%;
                    padding-left: 30px;
                    padding-top: 20px;
                    @include trans(all .25s ease);

                    h2{
                        margin: 0;
                        margin-top: 10px;
                    }
                }
            }
        }    
    }



    .news-cards-carousel-mobile{

        display: none;

        .flickity-prev-next-button{
            display: none;
        }

        .carousel-item{
            width: 80%;
            height: 350px;
            padding: 0 10px;

            margin-bottom: 50px;


            &.is-selected{
                .inner{
                    @include soft-box-shadow();
                    @include transform(scale(1.025));
                    .text-container{
                        background: white;
                    }
                }
            }
            
            .inner{
                width: 100%;
                height: 100%;
                border-radius: 8px;
                overflow: hidden;
                @include trans(all .25s ease);
                cursor: pointer;

                .img-container{
                    width: 100%;
                    height: 50%;
                    @include bg-img(cover, no-repeat, center);
                }

                .text-container{
                    width: 100%;
                    height: 50%;
                    padding-left: 30px;
                    padding-top: 20px;
                    @include trans(all .25s ease);

                    span{
                        font-size: 12px;
                    }

                    h2{
                        margin: 0;
                        margin-top: 10px;
                        font-size: 30px;
                    }

                    p{
                        font-size: 12px;
                    }
                }
            }
        }    
    }


    @media only screen and (max-width: 320px){
        padding-top: 100px;
        .content-container{
            padding: 0 20px;
            @include flex-direction(column);

            .text-container{
                width: 100%;
                margin-bottom: 50px;
            }
        }


        .big-news-container{
            position: relative;
            padding: 0 20px;
            margin-bottom: 150px;

            .text-container{
                position: relative;
                @include transform(translateY(0));
                padding: 0;
                margin-top: -25px;
                margin-left: 30px;

                span{
                    color: white;
                }

                h2{
                    font-size: 50px;
                }

                p{
                    font-size: 12px;
                }
            }
    
            .img-container{
                width: 100%;
                height: 200px;
            }
        }


        .news-cards-container{
            @include flex-direction(column);
            padding: 0;

            .card{
                width: 100%;
            }
        }
    }
}




