{% extends "layouts/main.njk" %}
{% block content %}
    {% include "sections/rni/rni-section-1.njk" %}
    {% include "sections/rni/rni-section-2.njk" %}
    <div style="height: 1000px; width: 100%;"></div>
{%  endblock %}