<section class="about-section-2" style="background-image: url('../../../assets/img/aboutus/BG.png')">
    <div class="bowls-container">
        <img src="../../../assets/img/aboutus/bowl-1.png" />
        <img src="../../../assets/img/aboutus/bowl-2.png" />
        <img src="../../../assets/img/aboutus/bowl-3.png" />
        <img src="../../../assets/img/aboutus/bowl-4.png" />
    </div>

    <div class="content-container">
        <div class="inner-container">
            <div class="text-container">
                <div class="text-wrapper">
                     <p class="opensans-light-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ipsum tortor, semper sed elit sed, hendrerit malesuada dui. Donec eget pulvinar sem. Sed tristique ut neque vitae malesuada.</p>
                </div>          
            </div>
            <div class="img-container" style="background-image: url('../../../assets/img/aboutus/strawberry.png')">
                <div class="brush-text font-xx-lg bronzescript">Lorem Ipsum</div>
            </div>
        </div>

        <div class="inner-container">
            <div class="text-container">
             <div class="text-wrapper">
                     <p class="opensans-light-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ipsum tortor, semper sed elit sed, hendrerit malesuada dui. Donec eget pulvinar sem. Sed tristique ut neque vitae malesuada.</p>
                </div>  
            </div>

            <div class="img-container" style="background-image: url('../../../assets/img/aboutus/tea-cup.png')">
                <div class="brush-text font-xx-lg bronzescript">Lorem Ipsum</div>
            </div>
        </div>
    </div>
</section>