<section class="rni-section-2" style="background-image: url('../../../assets/img/recipes/bg-recipes.png')">
    
    <p class="opensans-light-italic opening-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu dapibus mauris. Curabitur consectetur velit cursus, mattis dui nec, bibendum purus. Curabitur ultricies pellentesque lectus, et vulputate purus maximus in. Etiam sit amet turpis egestas, dapibus risus ac, pharetra nisi. </p>
    
    <div class="rni-category-carousel">
        <div class="carousel-item init-active">
                <div class="carousel-brush img-1" style="background-image: url('../assets/img/products/img_brushcategory1.png')"></div>
                <div class="carousel-item-inner img-1">
                    <div class="color-layer orange-gradient houschkalight"><span class="bronzescript" style="font-size: 80px;">Vegan</span></div>
                </div>
            </div>
            <div class="carousel-item init-active">
                <div class="carousel-brush img-2" style="background-image: url('../assets/img/products/img_brushcategory2.png')"></div>
                <div class="carousel-item-inner img-2">
                    <div class="color-layer green-gradient houschkalight"><span class="bronzescript" style="font-size: 80px;">Raw</span></div>
                </div>
            </div>
            <div class="carousel-item init-active">
                <div class="carousel-brush img-3" style="background-image: url('../assets/img/products/img_brushcategory3.png')"></div>
                <div class="carousel-item-inner img-3">
                    <div class="color-layer blue-gradient houschkalight"><span class="bronzescript" style="font-size: 80px;">Vegetarian</span></div>
                </div>
            </div>
            <div class="carousel-item init-active">
                <div class="carousel-brush  img-4" style="background-image: url('../assets/img/products/img_brushcategory4.png')"></div>
                <div class="carousel-item-inner img-4">
                    <div class="color-layer purple-gradient houschkalight"><span class="bronzescript" style="font-size: 80px;">Veg-Option</span></div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-brush img-3" style="background-image: url('../assets/img/products/img_brushcategory1.png')"></div>
                <div class="carousel-item-inner img-3">
                    <div class="color-layer orange-gradient houschkalight"><span class="bronzescript" style="font-size: 80px;">Raw</span></div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-brush  img-4" style="background-image: url('../assets/img/products/img_brushcategory2.png')"></div>
                <div class="carousel-item-inner img-4">
                    <div class="color-layer green-gradient houschkalight"><span class="bronzescript" style="font-size: 80px;">Vegetarian</span></div>
                </div>
            </div>
    </div>

    <div class="recipe-cards-container q-container">

        <div class="recipe-card">
            <div class="inner" style="background-image: url('../../../assets/img/recipes/recipes/Banana.png')">
                <div class="white-brush" style="background-image: url('../../../assets/img/recipe-detail/recipes/white-box-1.png')">
                    
                     <h2 class="amatic font-xxx-md">FISH BURGER</h2>
                    <p class="opensans-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu dapibus mauris.</p>
                        
                </div>
            </div>
        </div>
        <div class="recipe-card">
            <div class="inner" style="background-image: url('../../../assets/img/recipes/recipes/pumpkin-juice.png')">
                <div class="white-brush" style="background-image: url('../../../assets/img/recipe-detail/recipes/white-box-2.png')">
                     <h2 class="amatic font-xxx-md">PUMPKIN JUICE</h2>
                    <p class="opensans-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu dapibus mauris.</p>
                </div>
            </div>
        </div>
        <div class="recipe-card">
            <div class="inner" style="background-image: url('../../../assets/img/recipes/recipes/berry-pancake.png')">
                <div class="white-brush" style="background-image: url('../../../assets/img/recipe-detail/recipes/white-box-3.png')">
                     <h2 class="amatic font-xxx-md">BERRY PANCAKE</h2>
                    <p class="opensans-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu dapibus mauris.</p>
                </div>
            </div>
        </div>

        <div class="recipe-card">
            <div class="inner" style="background-image: url('../../../assets/img/recipes/recipes/strawberry-recipes.png')">
                <div class="white-brush" style="background-image: url('../../../assets/img/recipe-detail/recipes/white-box-1.png')">
                     <h2 class="amatic font-xxx-md">PUMPKIN JUICE</h2>
                    <p class="opensans-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu dapibus mauris.</p>
                </div>
            </div>
        </div>
        <div class="recipe-card">
            <div class="inner" style="background-image: url('../../../assets/img/recipes/recipes/tropical-salad.png')">
                <div class="white-brush" style="background-image: url('../../../assets/img/recipe-detail/recipes/white-box-2.png')">
                     <h2 class="amatic font-xxx-md">TROPICAL SALAD</h2>
                    <p class="opensans-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu dapibus mauris.</p>
                </div>
            </div>
        </div>
        <div class="recipe-card">
            <div class="inner" style="background-image: url('../../../assets/img/recipes/recipes/avocado.png')">
                <div class="white-brush" style="background-image: url('../../../assets/img/recipe-detail/recipes/white-box-3.png')">
                     <h2 class="amatic font-xxx-md">BERRY PANCAKE</h2>
                    <p class="opensans-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu dapibus mauris.</p>
                </div>
            </div>
        </div>

        
    </div>
</section>