
@import "../../lib/_mixins";

.rni-section-2{
    width: 100%;
    padding-bottom: 100px;
    position: relative;
    margin-top: -250px;
    z-index: 1;
    padding-top: 300px;

    @include bg-img(cover, no-repeat, top);

    .opening-text{
        text-align: center;
        max-width: 800px;
        margin: auto;
        margin-bottom: 70px;
        color: #424975;
    }

    .rni-category-carousel{
        margin-right: 0;
        height: 250px;
        padding-left: 10%;
        padding-right: 0;
        width: 100%;
        margin-bottom: 100px;

        .previous{
            display: none;
        }
    
        .next{
            margin-right: 25px;
        }
    
        .carousel-item{
            position: relative;
            width: 250px;
            height: 100%;
            opacity: 0.2;

            

            .carousel-brush{
                @include bg-img(contain, no-repeat, center);
                width: 100%;
                height: 100%;
                position: absolute;      
            }
    
            &.init-active{
                opacity: 1;
            }
    
            .carousel-item-inner{
                position: relative;
                z-index: 1;
                top: 50%;
                @include transform(translateY(-50%));
                width: 94%;
                height: 60%;
                color: white;
                text-align: center;
                @include flex-init();
                @include flex-direction(column);
                @include justify-content(center);
                @include align-items(center);
    
                @include bg-img(cover, no-repeat, top);

                .color-layer{
                    @include flex-init();
                    @include flex-direction(column);
                    @include justify-content(center);
                    

                    span{
                        @include align-self(center);
                        display: block;
                        text-align: center;
                        max-width: 80%;
                        font-size: 18px;
                        line-height: 1.2;
                    }
                }
                
    
                span{
                    max-width: 60%;
                }
    
    
                &.img-1{

                    .color-layer{
                        width: 100%;
                        height: 100%;
                        
                    }
                }
    
                &.img-2{

                    .color-layer{
                        width: 100%;
                        height: 100%;
                    }
                }
    
                &.img-3{

                    .color-layer{
                        width: 100%;
                        height: 100%;
                    }
                }
    
                &.img-4{
                    .color-layer{
                        width: 100%;
                        height: 100%;
                    }
                }



                &.img-tips-1{
                    
                    .color-layer{
                        width: 100%;
                        height: 100%;
                        
                    }
                }

                &.img-tips-2{
                    
                    .color-layer{
                        width: 100%;
                        height: 100%;
                        
                    }
                }

                &.img-tips-3{
                    
                    .color-layer{
                        width: 100%;
                        height: 100%;
                        
                    }
                }

                &.img-tips-4{
                    
                    .color-layer{
                        width: 100%;
                        height: 100%;
                        
                    }
                }
            }
    
            &.init-active{
                opacity: 1;
            }
    
            &.item-active-1{
                opacity: 1
            }
    
            &.item-active-2{
                opacity: 1
            }
    
            &.item-active-3{
                opacity: 1
            }
    
            &.item-active-4{
                opacity: 1
            }
    
        }
    }


    .rni-see-all{
        display: none;
        margin-bottom: 50px;
         &.active{
            @include flex-init();
            @include flex-direction(row);
            @include justify-content(flex-end);
         }

        span{
            border-bottom: 1px #424975 solid;;
            color: #424975;
            width: 150px;
            font-size: 20px;
            padding-bottom: 10px;
        }
    }

    .rni-recipe-cards-container{
        display: none;

        &.active{
            @include flex-init();
            @include flex-direction(row);
            @include flex-wrap();
        }
        
        .recipe-card{
            padding: 0 10px;
            width: 33.333333333333%;
            height: 580px;
            margin-bottom: 100px;

            .inner{
                position: relative;
                width: 100%;
                height: 100%;
                border-radius: 15px;
                overflow: hidden;
                @include bg-img(cover, no-repeat, center);
                z-index: 1;
                @include trans(all .25s ease);

                cursor: pointer;


                &:hover{
                    @include transform(scale(1.025));
                    @include card-shadow-soft();
                }
                

                .white-brush{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 40%;
                    @include bg-img(cover, no-repeat, top);
                    @include flex-init();
                    @include flex-direction(column);
                    padding-top: 60px;
                    padding-left: 20px;
                    padding-right: 20px;


                    .img-container{
                        img{
                            width: 40px;
                        }
                    }

                    .text-container{
                        padding-left: 30px;
                        h2{
                            margin-bottom: 20px;
                        }
                    }

                    
                }
            }
            
        }
    }









    .rni-recipe-cards-carousel-mobile{
        display: none;

        .flickity-prev-next-button{
            display: none;
        }

        .carousel-item{
            
            padding: 0 10px;
            width: 90%;
            height: 580px;
            margin-bottom: 100px;

            .inner{
                position: relative;
                width: 100%;
                height: 100%;
                border-radius: 15px;
                overflow: hidden;
                @include bg-img(cover, no-repeat, center);
                z-index: 1;

                cursor: pointer;

                .white-brush{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 40%;
                    @include bg-img(cover, no-repeat, top);
                    @include flex-init();
                    @include flex-direction(column);
                    padding-top: 60px;
                    padding-left: 20px;
                    padding-right: 20px;

                    padding-left: 30px;
                    h2{
                        margin-bottom: 20px;
                    }
                    
                }
            }
                
        }
    }









    @media only screen and (max-width: 320px){
        
        .rni-category-carousel{
            .flickity-prev-next-button{
                display: none;
            }
        }


        .rni-recipe-cards-container{
            @include flex-direction(column);
            padding: 0;

            .recipe-card{
                width: 50%;
                height: 300px;
                margin-bottom: 30px;
                .inner{
                    border-radius: 5px;
                    .white-brush{
                        padding-top: 30px;
                        padding-left: 10px;
                        height: 50%;

                        padding-left: 15px;

                        h2{
                            font-size: 18px;
                            margin-bottom: 10px;
                        }

                        p{
                            font-size: 11px;
                        }
                        
                    }
                }
            }
        }
    }
}