<div class="far-section-1">
        <div class="content-container">
            <div class="text-container-title">
                <h1 class="bronzescript font-xxx-lg">Find a Restaurant</h1>
                <p class="houschkalight opensans-light-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel elit et libero lacinia dapibus. Fusce vulputate in sapien at ultricies. Etiam non tincidunt felis. Donec faucibus commodo ipsum, et laoreet arcu facilisis et. Aliquam ac nisl ligula. Nulla eget ligula vel dolor fringilla convallis lobortis et est.</p>
            </div>

            <div class="filter-container houschka">
                <div class="city opensans">City: Bali</div>
                <div class="wrapper">
                    <div class="filter-item opensans">Restaurant Type: RAW</div>
                    <div class="filter-item opensans">Cuisine Type: ALL</div>
                </div>
            </div>

            <div class="cards-container">
                <div class="card">
                    <div class="inner">
                        <div class="recipe-bg" style="background-image: url('../assets/img/find-a-restaurant/restaurant-1.png')">
                        </div>

                        <div class="text-container" style="background-image: url('../assets/img/recipe-detail/recipes/white-box-2.png');">
                            <h2 class="amatic font-lg bold">GUSTO RESTAURANT</h2>
                            <p class="opensans-light-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porta mollis vehicula.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="inner">
                        <div class="recipe-bg" style="background-image: url('../assets/img/find-a-restaurant/restaurant-2.png')">
                        </div>

                        <div class="text-container" style="background-image: url('../assets/img/recipe-detail/recipes/white-box-2.png');">
                            <h2 class="amatic font-lg bold">TROPICAL CAFE</h2>
                            <p class="opensans-light-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porta mollis vehicula.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="inner">
                        <div class="recipe-bg" style="background-image: url('../assets/img/find-a-restaurant/restaurant-3.png')">
                        </div>

                        <div class="text-container" style="background-image: url('../assets/img/recipe-detail/recipes/white-box-2.png');">
                            <h2 class="amatic font-lg bold">TROPICAL CAFE</h2>
                            <p class="opensans-light-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porta mollis vehicula.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="inner">
                        <div class="recipe-bg" style="background-image: url('../assets/img/find-a-restaurant/restaurant-4.png')">
                        </div>

                        <div class="text-container" style="background-image: url('../assets/img/recipe-detail/recipes/white-box-2.png');">
                            <h2 class="amatic font-lg bold">GUSTO RESTAURANT</h2>
                            <p class="opensans-light-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porta mollis vehicula.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="restaurant-map-container" style="background-image: url('../assets/img/testmap.PNG')">
        </div>
    </div>